<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head"></head>

<body>

<div class="wrapper">

    <aside th:replace="layout/layout :: aside"></aside>

    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg " color-on-scroll="500">
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">
                                <span class="no-icon">Salir</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" > DATOS DE CATEGORIA </h4>
                            </div>
                            <div class="card-body">
                                <form th:action="@{/categoria/save}" th:object="${categoria}" method="post" >
                                    <hr style="border:2px;">
                                    <div class="row">
                                        <div class="col-md-3 pr-1">
                                            <div class="form-group">
                                                <label >Nombre</label>
                                                <input type="text" th:field="*{nombre}" class="form-control"
                                                       placeholder="Ingrese el nombre de la categoria"
                                                       th:errorclass="'form-control alert-danger'" /> <small
                                                    class="form-text text-danger"
                                                    th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                                            </div>
                                        </div>
                                        <div class="col-md-9 pl-1">
                                            <div class="form-group">
                                                <label >Descripcion</label>
                                                <textarea type="text" th:field="*{descripcion}" class="form-control" placeholder="Ingrese una descripcion de la categoria"
                                                       th:errorclass="'form-control alert-danger'" required/>
                                                <small class="form-text text-danger"
                                                        th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5"></div>
                                        <div class="col-4">
                                            <a th:href="@{'/categoria/listar'}" class="btn btn-danger">Regresar</a>
                                            <button type="submit" class="btn btn-success ">Guardar</button>
                                        </div>
                                        <div class="col-3"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="layout/layout :: footer"></footer>
    </div>
</div>
    <th:block th:replace="layout/layout :: scripts">

    </th:block>
    <th:block layout:fragment="page-scripts">
        <script th:replace="usuarios/js/autocomplete-pd :: javascript"></script>
    </th:block>
</body>
</html>