<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head"></head>
<body>
<div class="wrapper">

  <aside th:replace="layout/layout :: aside"></aside>

  <div class="main-panel">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg " color-on-scroll="500">
      <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/usuario/perfil}">
                <span class="no-icon">Cuenta</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/logout}">
                <span class="no-icon">Salir</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">LLENADO DE FICHA</h4>
              </div>
              <div class="card-body">
                <form th:action="@{/ordencompra/form}" th:object="${ordenCompra}" method="post">
                  <input type="hidden" th:value="${ordenCompra.id}" name="proveedorId">
                  <hr style="border:2px;">
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" th:field="${ordenCompra.proveedor.nombre}" class="form-control" disabled/>
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                        <label>RUC</label>
                        <input type="text" th:field="${ordenCompra.proveedor.ruc}" class="form-control" disabled/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Direccion</label>
                        <input type="text" th:field="${ordenCompra.proveedor.direccion}" class="form-control" disabled/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label class="col-sm-2 col-form-label"
                               th:text="'Descripción'"></label>
                        <div class="col">
                          <input type="text" th:field="*{descripcion}" class="form-control" th:errorclass="'form-control is-invalid'" />
                          <div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label class="col-sm-2 col-form-label"
                               th:text="'Observación'"></label>
                        <div class="col">
                          <textarea th:field="*{observacion}" class="form-control"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="buscar_producto" class="col-sm-4 col-form-label"
                           th:text="'Buscar Producto'"></label>
                    <div class="col-sm-8">
                      <input type="text" name="buscar_producto" id="buscar_producto"
                             class="form-control" />
                    </div>
                  </div>

                  <table th:replace="ordenescompra/item-producto :: itemsProducto"></table>

                  <table id="cargarItemsProducto"
                         class="table table-sm table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                  <h5>Total <span class="badge badge-secondary" id="gran_total">0</span></h5>

                  <div class="row">
                    <div class="col-5"></div>
                    <div class="col">
                      <a th:href="@{'/proveedor/listar'}" class="btn btn-danger">Volver</a>
                      <button type="submit" class="btn btn-success ">Guardar</button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer th:replace="layout/layout :: footer"></footer>

  </div>
</div>
</body>
<th:block th:replace="layout/layout :: scripts">

</th:block>
<th:block layout:fragment="scripts-extra">
  <script th:replace="ordenescompra/js/autocomplete-productos :: javascript"></script>
</th:block>
</html>